<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../icon/library.svg" type="image/x-icon">
    <%- metatag %>
    <link rel="stylesheet" href="../stylesheets/template/css/template.css">
    <title><%= title %></title>
</head>

<body>
    <%- include("partials/sidebar.ejs") %>
        <div class="main-content">
            <%- include("partials/header.ejs") %>
                <link rel="stylesheet" href="<%- cssstyle %>">
                <main>
                    <%- templateview %>
                </main>
        </div>
</body>

</html>